body{
  background-image: url("../img/Logowhite.png");
  background-color: rgba(255,255,255,0.9);
  background-blend-mode: lighten;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: 1;
}
/*
body::before{
  content: "";
  background: url("../img/Logowhite.png");
  opacity: 0.9;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}

body::after {
  content : "";
  background-color: rgba(255,255,255,0.9);
  display: block;
  height: 0;
  clear: both;
}*/

.header{
  display: inline-block;
}

h3{
  margin: 0;
}
.uploadBtn {
  font-size: 13px;
  border: 1px solid;
  border-radius: 3px;
  display: inline-block;
  padding: 1px 3px;
  margin-left: 5px;
  position: relative;
  background-color: rgb(250,250,250);
}

.uploadBtn:hover {
  background-color: rgb(235,235,235);
}
.uploadBtn input[type="file"] {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

h4{
  margin:0; 
}

div{
  margin: 10px 0;;
}

#personal_data table{
  margin: 0;
  padding: 0;
}

#personal_data .personal_elem{
  text-align: right;
  width: 125px;
  padding: 3px 2px;
  float:left;
  clear:both;
}
#personal_data td{
  padding: 3px 2px;
}

#status{
  margin-top: 20px;
}

#status input{
  text-align: center;
  width: 45px;
}

#status th{
  text-align: center;
  padding: 0;
}

.status_add{
  text-align: right;
}

#point_left{
  padding-left: 5px;
}

#ability{
  margin-top: 20px;
}

.common div{
  margin: 0 10px 10px 10px;
}

.special{
  max-width: 567px;
}

/* 各一般技能 の背景 */

.adp, .phantom{
  background-color: rgba(255, 51, 153, 0.2);
}

.agi, .ghost{
  background-color: rgba(153, 102, 255, 0.2);
}

.tec, .magic{
  background-color: rgba(255, 192, 0, 0.2);
  max-width: 635px;
}

.for, .jack{
  background-color: rgba(25, 255, 167, 0.2);
}

.stl, .comet{
  background-color: rgba(0, 176, 240, 0.2);
}

.crf, .spider{
  background-color: rgba(100, 100, 100, 0.2);
}

.ayakashi{
  max-width: 575px;
}

.gamble{
  max-width: 580px;
}


.hidden{
  display: none;
}

.grow{
  text-align: center;
  width: 25px;
}

.special .grow{
  margin: 0 20px 0 0;
}

#message{
  color: red;
}
