body{
  background-image: url("../img/Logowhite.png");
  background-color:rgba(255,255,255,0.9);
  background-blend-mode: lighten;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
h3{
  margin: 0;
}

h4{
  margin:0; 
}

div{
  margin: 10px 0;;
}

#personal_data table{
  margin: 0;
  padding: 0;
}

#personal_data .personal_elem{
  text-align: right;
  width: 125px;
  padding: 3px 2px;
  float:left;
  clear:both;
}
#personal_data td{
  padding: 3px 2px;
}

#status{
  margin-top: 20px;
}

#status input{
  text-align: center;
  width: 45px;
}

#status th{
  text-align: center;
  padding: 0;
}

.status_add{
  text-align: right;
}

#point_left{
  padding-left: 5px;
}

#ability{
  margin-top: 20px;
}

.common div{
  margin: 0 10px 10px 10px;
}

.hidden{
  display: none;
}

.grow{
  text-align: center;
  width: 25px;
}

.special .grow{
  margin: 0 20px 0 0;
}

#message{
  color: red;
}
